name: oidc-forked-cli
on:
    push:
        branches:
         main
        
    workflow_dispatch: 
permissions:
  actions: read # for detecting the Github Actions environment.
  id-token: write # for creating OIDC tokens for signing.
  packages: write # for uploading attestations.
  contents: read
jobs:
    build-publish:        
        runs-on: self-hosted
        env:
          DOCKER_REPO: 'docker-local'
          IMAGE_NAME: 'github-jfrog-testing:3'      
        outputs:
          image: ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}
          digest: ${{ steps.build.outputs.digest }}
        steps:
            - name: Checkout the repository    
              uses: actions/checkout@v4
              
            - name: Setup JFrog CLI
              id: setup-cli
              uses: jfrog/setup-jfrog-cli@v4
              env: 
                JF_URL: https://${{ vars.JF_URL }}/
              with:
                  oidc-provider-name: github-carmit-project-1
       
            - name: configure jfrog environment
              run: |
                jf pip-config --repo-resolve=python-virtual    
                
            - name: configure environment
              run: |                      
                python3 -m pip install --upgrade pip setuptools wheel sigstore
                wheel -h
                pip show setuptools
                echo $VIRTUAL_ENV
                
            - name: build project
              run: |                               
                jf pip install -r requirements.txt --module=jfrog-python-example
                python setup.py sdist bdist_wheel
                cd dist && echo "hashes=$(sha256sum * | base64 -w0)" >> $GITHUB_OUTPUT

            - name: publish python package
              run: |
                jf rt u dist/ python-virtual/example-projects/ --module=jfrog-python-example 

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3    
                
            - name: Authenticate Docker
              uses: docker/login-action@v3
              with:
                registry: ${{ vars.JF_URL }}
                username: ${{ steps.setup-cli.outputs.oidc-user }} 
                password: ${{ steps.setup-cli.outputs.oidc-token }}
                
            - name: Build Docker image    
              uses: docker/build-push-action@v5
              id: build
              with:
                push: true
                platforms: linux/amd64, linux/arm64
                tags: ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}          


            - name: docker scan
              if: false
              run: |  
                 jf docker pull ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}
                 jf docker scan ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}                               

            - name: add docker package to build
              run: |  
                 echo "${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}" > metadata.json
                 jf rt build-docker-create ${{ env.DOCKER_REPO }} --image-file metadata.json 
                 
            - name: publish build info
              run: |
                jf rt bce 
                jf rt bp 
                jf build-scan  --format sarif --fail=false 
   
            - name: Attest Build Provenance
              uses: actions/attest-build-provenance@v3
              with:
                subject-name: oci://${{ vars.JF_URL }}/${{ steps.build.outputs.image }}
                subject-digest: ${{ steps.build.outputs.digest }} 
               
      
